<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">
<body>
  <a th:href="@{/blog/new}" class="btn btn-outline-success">New Entry</a>
  <div class="row">
    <div class="col">
      <h3>All Entries</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
          <td>
            <a th:text="${entry.title}" th:href="@{'/blog/' + ${entry.id}}"></a>
          </td>
          <td>
            <th:block th:each="category : ${entry.categories}">
              <p th:text="${category.name}"></p>
            </th:block>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Today's Entries</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${todaysEntries}">
          <td>
            <a th:text="${entry.title}" th:href="@{'/blog/' + ${entry.id}}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</th:block>
</html>