<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">

<body>
<form th:object="${entry}" method="post" th:action="@{'/blog/' + ${entry.id} + '/update'}">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" th:field="*{title}" th:value="*{title}" id="title">
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" type="text" th:field="*{body}" th:value="*{body}" id="body"></textarea>
  </div>

  <div class="form-group">
    <label for="writer">Writer</label>
    <input class="form-control" type="text" th:field="*{writer}" th:value="*{writer}" id="writer">
  </div>

  <div class="form-group">
    <label for="categories"></label>
    <select id="categories"
            th:field="*{categories}" multiple>
      <option th:each="category : ${categories}"
              th:text="${category.name}"
              th:value="${category.id}"></option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Update</button>
</form>
</body>
</th:block>
</html>