<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block>

  <head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
  <form method="post" th:object="${user}" th:action="@{/register}">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" th:field="*{username}" name="username" id="username">
    </div>

    <div class="form-group">
      <label for="username">Email</label>
      <input class="form-control" type="text" th:field="*{email}" name="email" id="email">
    </div>

    <div class="form-group">
      <label for="writer">Password</label>
      <input class="form-control" type="password" th:field="*{password}" name="password" id="writer">
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  </body>
</th:block>
</html>